@keyframes at-bounce
{
  0%
  {
    transform: translateY(0);
  }

  33%
  {
    transform: translateY(-10px);
  }

  66%
  {
    transform: translateY(5px);
  }

  100%
  {
    transform: translateY(0);
  }
}

.at-bounce
{
  display: inline-block;
  animation: at-bounce ease-in-out;
}