@keyframes at-bounce
{
  0%
  {
    opacity: 0.8;
    transform: translateY(0);
  }

  50%
  {
    opacity: 1;
    transform: translateY(-0.3em);
  }

  100%
  {
    transform: translateY(0);
  }
}

.at-bounce
{
  display: inline-block;
  animation-name: at-bounce;
}