@keyframes at-left-slide
{
  from
  {
    opacity: 0;
    transform: translateX(50px);
  }

  to
  {
    opacity: 1;
    transform: translateX(0);
  }
}

.at-left-slide
{
  display: inline-block;
  animation-name: at-left-slide;
}