/**
 |--------------------------------------------------------------------------
 | File: autotyped.scss
 | @desc (Sassy css) main file
 | @author Vuk Samardžić <samardzic.vuk@gmail.com>
 |--------------------------------------------------------------------------
 */

  @import "animation/bounce";
  @import "animation/rotate";
  @import "animation/rubber-band";

  .autotyped
  {
    display: block;
    opacity: 0;

    &.autotyped-running, &.autotyped-done
    {
      opacity: 1;
      display: blocK;
    }
  }